{% if footerBrands == true %}
  <div class="container mt-4">
    <div class="row select-none">
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-brandt.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-aeg.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-indesit.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-bosch.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-siemens.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-dyson.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-magimix.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-samsung.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-gaggenau.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-hoover.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-electrolux.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
      <span class="col-4 col-sm-3 col-md-2 flex-shrink-0">
        {{ picture('assets/img/logo-miele.png', 'px-1 mb-2 img-fluid', '') }}
      </span>
    </div>
  </div>
{% endif %}
