<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mr-auto">
        <h3>Nos services techniques sont à votre disposition.</h3>
        <h5 class="mb-4">N'hésitez pas à nous solliciter 7j/7 !</h5>
        <div class="phone-support mb-5">
          <a href="tel:0805086524">
            <img src=" assets/img/phone2.png" alt=" "/>
          </a>
          <div class="phone-support__info">Du lundi au Dimanche de 10h à 17h</div>
        </div>
        <p class="mb-6">
          {{ picture('assets/img/cards-payment.png', '', '') }}
        </p>
        <ul class="list-inline footer__social text-center text-md-left">
          <li class="list-inline-item">
            <a href="#">
              {{ icon('facebook', '') }}
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              {{ icon('instagram', '') }}
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              {{ icon('pinterest', '') }}
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              {{ icon('twitter', '') }}
            </a>
          </li>
        </ul>
        <p class="mb-2">
          kiosknotice.com
        </p>
        <p class="mb-2">
          Tuts
        </p>
        <p>City of Sofia 1142, Region of Sofia, Sofia Municipality, district Sredets,<br>
          16 Patriarh Evtimiy Blvd., entrance A, floor 1, apartment 5</p>

      </div>
      <div class="col-md-6">
        <h4>Les Marques Populaires</h4>
        <div class="mb-4 d-flex align-items-center justify-content-between">
          <span>{{ picture('assets/img/aeg.png', 'img-fluid rounded p-2 d-block bg-white', '') }}</span>
          <span class="ml-2">{{ picture('assets/img/brandt.png', 'img-fluid rounded p-2 d-block bg-white', '') }}</span>
          <span class="ml-2">{{ picture('assets/img/electrolux.png', 'img-fluid rounded p-2 d-block bg-white', '') }}</span>
          <span class="ml-2">{{ picture('assets/img/garmin.png', 'img-fluid rounded p-2 d-block bg-white', '') }}</span>
          <span class="ml-2">{{ picture('assets/img/huawei.png', 'img-fluid rounded p-2 d-block bg-white', '') }}</span>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            <h4>Navigation</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#">Accueil</a>
              </li>
              <li>
                <a href="#">Nos Garanties</a>
              </li>
              <li>
                <a href="#">Questions fréquentes</a>
              </li>
              <li>
                <a href="#">Partenariat</a>
              </li>
              <li>
                <a href="#">Nous Contacter</a>
              </li>
              <li>
                <a href="#">Plan du Site</a>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <h4>Informations</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#">C.G.U.</a>
              </li>
              <li>
                <a href="#">C.G.V.</a>
              </li>
              <li>
                <a href="#">Confidentialité</a>
              </li>
              <li>
                <a href="#">Cookies</a>
              </li>
              <li>
                <a href="#">Mentions Légales</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
              <li>
                <a href="#">Formulaire de rétractation</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h4>Nos Services</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#">Manuels d'Utilisation</a>
              </li>
              <li>
                <a href="#">Dépannage à distance</a>
              </li>
              <li>
                <a href="#">Guides pour la Maison</a>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <h4>Abonnement aux Services</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#">Connexion</a>
              </li>
              <li>
                <a href="#">Mon Abonnement</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p class="text-xs">© Tous droits réservés, 2017-2020</p>
  </div>
</footer>
