{% if footerBrands == true %}
  <div class="container mt-6">
    <div class="flex flex-wrap -mx-2 select-none">
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-brandt.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-aeg.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-indesit.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-bosch.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-siemens.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-dyson.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-magimix.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-samsung.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-gaggenau.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-hoover.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-electrolux.png', 'px-2 mb-4', '') }}
      </span>
      <span class="w-2/6 sm:w-1/6 flex-shrink-0">
        {{ picture('assets/img/logo-miele.png', 'px-2 mb-4', '') }}
      </span>
    </div>
  </div>
{% endif %}
